<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let irrigation">
            <mat-checkbox [(ngModel)]="checkboxes[irrigation.id]" (ngModelChange)="onSelectedChange(irrigation.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="remarks">
        <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
        <mat-cell *matCellDef="let irrigation">
            <p class="text-truncate font-weight-600">{{irrigation.remarks}}</p>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
        <mat-cell *matCellDef="let irrigation">
            <p class="text-truncate font-weight-600">{{stockName(irrigation.stockId)}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="irrigationDate">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let irrigation">
            <p class="text-truncate font-weight-600">{{irrigation.irrigationDate}}</p>
        </mat-cell>
    </ng-container>



    
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let irrigation">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(irrigation.id)" aria-label="Toggle star">
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteIrrigation(irrigation)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let irrigation; columns: displayedColumns;"
             class="irrigation"
             (click)="editIrrigation(irrigation)"
             [ngClass]="{'accent-50':checkboxes[irrigation.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


