<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <mat-checkbox [(ngModel)]="checkboxes[measurement.id]" (ngModelChange)="onSelectedChange(measurement.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{measurement.name}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sample">
        <mat-header-cell *matHeaderCellDef >Sample</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{sampleName(measurement.sampleId)}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="measurementDate">
        <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{measurement.measurementDate}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ph">
        <mat-header-cell *matHeaderCellDef>PH</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{measurement.ph}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ec">
        <mat-header-cell *matHeaderCellDef>EC</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{measurement.ec}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{measurement.weight}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="height">
        <mat-header-cell *matHeaderCellDef>Height</mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <p class="text-truncate font-weight-600">{{measurement.height}}</p>
        </mat-cell>
    </ng-container>
    
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let measurement">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(measurement.id)" aria-label="Toggle star">
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteMeasurement(measurement)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let measurement; columns: displayedColumns;"
             class="measurement"
             (click)="editMeasurement(measurement)"
             [ngClass]="{'accent-50':checkboxes[measurement.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


